<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.errorFormLogin}">
    Invalid username and password combination.
</div>
<div th:if="${param.errorOpenIdLogin}">
    OpenId login failed. Unregistered user?
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form id="webLoginForm" th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<form id="googleLoginForm" th:action="@{/login/openid}" method="post">

    <input name="openid_identifier" type="hidden" value="https://www.google.com/accounts/o8/id"/>
    <input name="openid.ns.pape" type="hidden" value="http://specs.openid.net/extensions/pape/1.0"/>
    <input name="openid.pape.max_auth_age" type="hidden" value="0"/>

    <p>
        <input name="submit" value="Login using Goooogle" type="submit"/>
    </p>
</form>
</body>
</html>